@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/497454779849658372/fjWc0B_l.jpeg"  
             alt ="logo" class="mx-auto d-block img-fluid">
    </div>

<div class="row">
    <h2>List of developers</h2>
    <div class="col-md-4">
        <h2>Nguyen Le Minh</h2>
        <p>
            The Front-end master who customize the UI.
        </p>
        <p>
            social link:
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nguyen Van Hai</h2>
        <p>
            The Back-end master who customize the Database.
        </p>
        <p>
            social link:
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nguyen Van Minh Tri</h2>
        <p>
            Do nothing :))
        </p>
        <p>
            social link:
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</div>